<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
        <h1 class="display-4">Contact Me</h1>

        <p>Please visit my <span><img src="../../../assets/images/social_media_icons/github_logo.svg" width="15" alt=""></span> Github Profile <a href="https://github.com/pradeepsuthar" target="_blank">Click here</a></p>
        
        <div class="d-flex justify-content-around fixed-bottom py-5">
            <a href="https://github.com/pradeepsuthar" class="social_media_icon my-auto" target="_blank"><img src="../../../assets/images/social_media_icons/github_logo.svg" alt="" title="Github"class="img-fluid rounded" width="50"></a>
            <a href="https://www.facebook.com/pradeepBhardwaj081" class="social_media_icon my-auto" target="_blank"><img src="assets/images/social_media_icons/facebook_logo.png" alt="" title="Facebook" class="img-fluid rounded" width="50"></a>
            <a href="https://www.instagram.com/bhardwajpradeep6/" class="social_media_icon my-auto" target="_blank"><img src="../../../assets/images/social_media_icons/Instagram_logo.webp" alt="" title="Instagram" class="img-fluid rounded" width="50"></a>
            <a href="https://twitter.com/Omsaira78995817" class="social_media_icon my-auto" target="_blank"><img src="../../../assets/images/social_media_icons/twitter_logo.png" alt="" title="Twitter"class="img-fluid rounded" width="50"></a>
            <a href="https://www.linkedin.com/in/pradeepsuthar/" class="social_media_icon my-auto" target="_blank"><img src="../../../assets/images/social_media_icons/linkedin_logo.png" alt="" title="Linkedin"class="img-fluid rounded" width="50"></a>
            <a href="mailto:sutharpradeep081@gmail.com" class="social_media_icon my-auto"><img src="../../../assets/images/social_media_icons/gmail_logo.png" alt="" title="Gamil"class="img-fluid rounded" width="50"></a>
            <a href="https://www.youtube.com/channel/UCZbwxIh2iAvZgvzr9h25IbA?view_as=subscriber" class="social_media_icon my-auto" target="_blank"><img src="../../../assets/images/social_media_icons/youTube_logo.png" alt="" title="YouTube"class="img-fluid rounded" width="50"></a>
        </div>
    </div>
  </div>